<div class="content">
  <div class="first-content">
    <div class="name">
    <%= message.user.name%>

    </div>
    <div class="timestomp">
    <%= message.created_at%>

    </div>
  </div>
  <div class="second-cotent">
    <div class="text">
    <%= message.content%>

    </div>
  </div>
</div>